.poked {
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-right: 20px !important;
}

.poketype-title {
    text-align: center;
}

.input {
    padding-top: 20px;
}

.prompt {
    color: #fff !important;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #333;
    padding: 10px;
    outline-width: 0;
    height: 50px;
    font-size: 22px;
    width: 300px;
    margin: 0 auto !important;
    display: flex;
}

.prompt::placeholder{
    color: #fff;
}

  .pokemons {
    padding: 10\px;
    border-radius: 5px !important;
    margin: 40px;
    flex: 1;
    margin-top: 30px;
    display: flex;
    flex-flow: column;
  }

  .pokemons-title {
    text-align: left !important;
  }

  .pokemons-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px;
  }