.typePage {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 14vh;
    background: #FFF;
    padding-bottom: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.type-logo {
    margin: 10px;
    width: 170px !important;
    height: auto;
}

.type-h {
    justify-content: center !important;
    display: flex;
    flex-direction: column;
}

.type-name-title {
    margin: 10px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #2F6EB5;
}

.type-name-pokemon {
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
    color: #3a6eb2;
}

.poketyperesult {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px;
}

.poketype {
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    width: auto;
    max-height: 180px;
    margin-right: 20px !important;
}

.sprite {
    width: 80%;
    height: auto;
}